*{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}
body{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 100%;
       width: 100%;
       /* overflow-x: hidden; */
}

li{
       list-style-type: none;
}
a{
       text-decoration: none;
       color: inherit;
       &:visited{
              color: inherit;
       }
}
.row{
       width: 100%;
       display: flex;
       flex-wrap: wrap;
}